.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .profile-pic {
    width: 30%; /* Adjust the percentage size as needed */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }